.photo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__center {
        width: 13rem;
        height: 17rem;
        border-radius: 10px;
        object-fit: cover;
    }
    &__left {
        position: absolute;
        width: 11rem;
        height: 14rem;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.3;
        transform: rotate(-30deg) translateX(-20%);
        right: 50%;
        z-index: -1;
    }
    &__right {
        position: absolute;
        width: 11rem;
        height: 14rem;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.3;
        transform: rotate(30deg) translateX(20%);
        left: 50%;
        z-index: -1;
    }
}
